body {
  display: flex;
  flex-direction: column;
  background-color: powderblue;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 20px;
}

#labelt {
  margin: 10px;
  font-size: 20px;
  color: red;
}

#inputt {
  height: 200px;
  margin: 20px;
  border: 2px;
  border-style: dotted;
  text-decoration: none;
  display: flex;
  text-align: center;
}

#buttont {
  margin-left: 30px;
  background-color: inherit;
}
